/*
    CSS design for YouTube Channel button
*/

.youtube-channel-button {
    background-color: #E62117;
    border-radius: 5px;
    color:white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
    padding: 8px;
    width: fit-content;

    /* Animation part : returning to normal scale */
    transform: scale(1);
    transition: all 0.5s;
}

/* For growing when the mouse is on the button */
.youtube-channel-button:hover {
    transform: scale(1.1);
}

/* Text part */
.youtube-channel-button p {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
}